:root {
    --primary: #89CFF0;
    --secondary: #FFD6E0;
}

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrMfIA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'Comfortaa';
    overflow: hidden;
    background-color: var(--primary);
}

.flex i {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.wrapper {
    width: 100vw;
    height: 100dvh;
}

.header {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    position: absolute;
    z-index: 0;
    overflow: hidden;
}

.header .title {
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: right;
    z-index: 1;
}

.title .hint {
    margin-top: -14px;
    letter-spacing: 2px;
    transition-duration: 1s;
    padding-left: 25px;
}

.title hr {
    width: 5%;
    transition-duration: 1s;
    margin-top: -10px;
}

hr {
    border-color: black;
}

.title:hover .hint {
    letter-spacing: 3px;
}

.title:hover {
    cursor: pointer;
}

.title:hover hr {
    width: 100%;
}

.letter {
    transition-duration: 0.5s;
    transition-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1);
    display: inline-block;
}

.letter:nth-child(even):hover {
    transform: scaleX(1.2) scaleY(0.8) !important;
}

.letter:nth-child(odd):hover {
    transform: scaleX(0.8) scaleY(1.2) !important;
}

.opacity {
    opacity: 0;
}

.index {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: 0;
    transition-duration: 0.3s;
    border-radius: 10px;
}

.index > h1 {
    cursor: pointer;
    transition-duration: 0.3s;
    z-index: 1;
}

.background-text {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;
}

.background-text p {
    line-height: 100vh;
    font-size: 70vh;
    position: absolute;
    opacity: 0;
    margin: 0;
    transition-duration: 1s;
    padding-left: 20px;
}

.header:has(.index .projects:hover) .proj {
    opacity: 0.2 !important;
}

.header:has(.index .about-me:hover) .abme {
    opacity: 0.2 !important;
}

.header:has(.index .contact:hover) .con {
    opacity: 0.2 !important;
}

.projects-div {
    position: absolute;
    top: 100vh;
    margin: 0;
    z-index: 5;
    /* height: 90vh; */
    width: 90%;
    border-radius: 25px;
    background-color: var(--secondary);
    z-index: 5;
    padding: 20px;
    transition-duration: 1s;
    outline: 2px solid black;
    opacity: 0;
    min-height: 80vh;
}

.about-me-div {
    position: absolute;
    top: 100vh;
    margin: 0;
    z-index: 5;
    /* height: 90vh; */
    width: 90%;
    border-radius: 25px;
    background-color: var(--secondary);
    z-index: 5;
    padding: 20px;
    transition-duration: 1s;
    outline: 2px solid black;
    opacity: 0;
    min-height: 80vh;
}

.contact-div {
    position: absolute;
    top: 100vh;
    margin: 0;
    z-index: 5;
    /* height: 90vh; */
    width: 90%;
    border-radius: 25px;
    background-color: var(--secondary);
    z-index: 5;
    padding: 20px;
    transition-duration: 1s;
    outline: 2px solid black;
    opacity: 0;
    min-height: 80vh;
}

.flex h3 {
    width: 100%;
}

.projects-flex {
    display: flex;
    flex-wrap: wrap;
}

.project {
    min-width: 300px;
    background-color: rgba(74, 74, 74, 0.2);
    border-radius: 15px;
    outline: 1px solid black;
    padding: 5px 15px;
    margin: 10px;
    flex: 1;
    box-shadow: 5px 5px 5px 0px rgba(25,25,25, 0.4);
    transition-duration: 0.5s;
}

.project:hover {
    cursor: pointer;
    box-shadow: 7px 7px 7px 3px rgba(25,25,25, 0.4);
    background-color: rgba(74, 74, 74, 0.1);
}

.wrapper:has(.projects:hover) .projects-div {
    top: 80vh;
    opacity: 1;
}

.wrapper:has(#projects:target) .projects-div {
    top: 10vh;
    opacity: 1;
}

body:has(#projects:target) {
    overflow-y: auto;
}

.wrapper:has(.about-me:hover) .about-me-div {
    top: 80vh;
    opacity: 1;
}

.wrapper:has(#about-me:target) .about-me-div {
    top: 10vh;
    opacity: 1;
}

body:has(#about-me:target) {
    overflow-y: auto;
}

.wrapper:has(.contact:hover) .contact-div {
    top: 80vh;
    opacity: 1;
}

.wrapper:has(#contact:target) .contact-div {
    top: 10vh;
    opacity: 1;
}

body:has(#contact:target) {
    overflow-y: auto;
}

body:has(#projects:target) .contact-div, body:has(#projects:target) .about-me-div {
    display: none;
}

body:has(#contact:target) .projects-div, body:has(#contact:target) .about-me-div {
    display: none;
}

body:has(#about-me:target) .projects-div, body:has(#about-me:target) .contact-div {
    display: none;
}

#projects, #about-me, #contact {
    position: absolute;
    margin: 0 !important;
}

.flex {
    display: flex;
    position: relative;
    justify-content: center;
}

.about-me-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.about-me-flex > * {
    flex: 1;
}

.about-me-flex > img {
    min-width: 400px;
    margin-right: 100px;
}